#home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.wlcmTxt{
    width: 50%;
    height: 656px;
    background-color: black;
    vertical-align: text-top;
}
.wlcmTxt p{
    color: white;
    font-size: 4rem;
    margin-top: 45%;
}
.uintaimg{
    width: 50%;
    height: auto;

}